*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

* {
  margin: 0;
}
ul,
ol {
  padding: 0;
}
::marker {
  font-size: 0;
}
